.button {
  border: 1px solid gray;
}

.form * {
  padding: 0.4rem 0.4rem;
  margin: 0 0.5rem;
}

.tasks i {
  cursor:pointer;
}

.tasks .fa-jedi-order {
  color: green;
}

.tasks .fa-trash-alt {
  color: rgb(112, 0, 0);
}

.icons {
  font-size: 2.5rem;
}